.card {
    font-size: medium;
    text-align: left;
    min-height: 3rem;
    border: 1px;
    padding: .3rem;
    color: #fff;
    box-shadow: 10px 10px 5px black;
    margin: 1rem 0;
    text-transform: capitalize;

}

.card_0 {
    background-color: greenyellow;
}

.card_1 {
    background-color: red;
}

.card_2 {
    background-color: yellow;
}
